<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Garage Control</title>

 <!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/materialize/css/styles.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

 <style type="text/css">
	table.striped>tbody>tr:nth-child(odd) {
	background-color: rgba(211, 211, 211, 0.5);
}

form input[type=submit] {
	color: white;
}

body, html {
	height: 100%;
	margin: 0;
}

.bg {
	background-image: url("/materialize/img/proj11.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100%;
	background-attachment: fixed;
	
}
</style>
	</head>
		<body>  
		    <header>
		   <nav>
		    <div class="nav-wrapper" >
		    
		      <a href="/meuprojeto" class="brand-logo">Garage Control</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/arearestrita">Área Restrita</a></li>
		        <li><a href="/logout">Sair do Sistema</a></li>
		      </ul>
		    </div>
		  </nav>
		    </header>
		    <main>
    <!-- Navbar goes here -->

    <!-- Page Layout here -->
    <div class="row">

	<div class="card-panel hoverable">Controle de carros no pátio</div>
      <div class="col s12 m2 14" >
      <div class="card-panel teal lighten-2">
       <h6>MENU LATERAL</h6>
       <blockquote>
      This is an example quotation that uses the blockquote tag.
    </blockquote>
    
    
       <p><a href="/meuprojeto" class="breadcrumb">Pessoas</a>
       <p><a href="/meuprojeto" class="breadcrumb">Produtos</a>
       <p><a href="/meuprojeto" class="breadcrumb">Relatórios</a>
       <p><a href="/meuprojeto" class="breadcrumb">Manutenção</a>
       <p><a href="/meuprojeto" class="breadcrumb">Pessoas</a>
       <p><a href="/meuprojeto" class="breadcrumb">Produtos</a>
       <p><a href="/meuprojeto" class="breadcrumb">Relatórios</a>
       <p><a href="/meuprojeto" class="breadcrumb">Manutenção</a>
       <p><a href="/meuprojeto" class="breadcrumb">Pessoas</a>
       <p><a href="/meuprojeto" class="breadcrumb">Produtos</a>
       <p><a href="/meuprojeto" class="breadcrumb">Relatórios</a>
       <p><a href="/meuprojeto" class="breadcrumb">Manutenção</a>
	      
    

		</div>
      </div>

      <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
        <h1>Corpo do Projeto</h1>
        
        <p class="flow-text">ma falha comum que vimos em muitos frameworks é a falta de suporte para texto realmente responsivo. Enquanto os elementos na página são redimensionados com fluidez, o texto ainda é redimensionado em uma base fixa. Para melhorar esse problema, para páginas com muito texto, criamos uma classe que dimensiona com fluidez o tamanho do texto e a altura da linha para otimizar a legibilidade do usuário.
     O comprimento da linha fica entre 45-80 caracteres e a altura da linha aumenta em telas menores.</p>
 
      </div>

    </div>
  

    
    
  </main>    
    <footer class="page-footer">
   
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Nossas redes sociais</h5>
                <p class="grey-text text-lighten-4">Você pode falar conosco por todos os nossoas canais.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/prluciohermano/">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/prluciohermano">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://twitter.com/prluciohermano">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/l%C3%BAcio-hermano-batista-190971142/">Linked in</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2022 Copyright - Todos os direitos reservados!
            <a class="grey-text text-lighten-4 right" href="#!">Política de privacidade</a>
            </div>
          </div>
        </footer>
    <script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

